footer {
    background-color: var(--db1-color);
    color: white;
    padding: 20px;
}

/* ------------------------------------------- */

footer .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------------------ */

.footer-top .f-ach {
    display: flex;
    gap: 20px;
}

.f-ach a {
    text-decoration: none;
}
.f-ach a:hover {
    color: var(--db3-color);
    text-decoration: underline;
}

/* ------------------ */

.footer-top .f-social {
    display: flex;
    gap: 20px;
}

.f-social p {
    font-weight: bold;
}

.f-social a:hover {
    color: var(--db3-color);
}

/* ------------------------------------------- */

footer hr {
    border: 1px solid var(--db2-color);
    margin: 10px 0;
}

/* ------------------------------------------- */

footer .footer-bottom {
    opacity: 0.8;
    text-align: center;
}

/* Responsive Design ------------------------- */

@media (max-width: 750px) {
    footer .footer-top {
        flex-direction: column;
    }
}

/* ------------------------------------------- */


