.home {
    background-image: url('/home-bg.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    padding: 20px;
    width: 100%;
}

/* ------------------------------------------- */

.home h1 {
    font-size: 75px;
    font-weight: bold;
}

/* ------------------------------------------- */

.home hr {
    border: 2px solid var(--db2-color);
    border-radius: 20px;
    width: 200px;
}

/* ------------------------------------------- */

.home h6 {
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

/* ------------------------------------------- */

.home .sn-btn {
    border: 2px solid var(--db2-color);
    border-radius: 20px;
    margin: 20px;
    padding: 2px 20px;
    transition: background-color 0.5s ease;
}
.home .sn-btn:hover {
    background-color: var(--db2-color);
}

/* ------------------------------------------- */

.home .social {
    display: flex;
    gap: 20px;
}

.social a {
    font-size: 25px;
    transition: transform 0.5s ease;
}
.social a:hover {
    transform: translateY(-10px);
}

/* ------------------------------------------- */

.home h1, .home hr, .home h6, .home .sn-btn, .home .social {
    transform: translateX(-200px);
}

/* Responsive Design ------------------------- */

@media (max-width: 1000px) {
    .home h1 {
        font-size: 50px;
    }

    .home h1, .home hr, .home h6, .home .sn-btn, .home .social {
        transform: none;
    }
}

@media (max-width: 500px) {
    .home h1 {
        font-size: 30px;
    }
    
    .home h6 {
        font-size: 20px;
    }
}

/* ------------------------------------------- */
